#!/bin/csh
#
#BSUB -J KKMC
#
#######################################
#
cd <pthfarm>/<farmindex>
# ========= EXECUTION ========= 
#
cp   ./<dset>.input ./pro.input
time ../<dset>.exe
#
#
exit 0          
